version: '3.8'
services:
  app:
    image: ${DOCKERHUB_IMAGE:-valenfontana7/resto-management-backend:latest}
    restart: always
    env_file:
      - .env
    ports:
      - '4000:4000'
    volumes:
      - ./uploads:/app/uploads:rw
    depends_on:
      - db

  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-resto}
      POSTGRES_USER: ${POSTGRES_USER:-resto}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-secret}
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
